:root {
    --text: #000;
    --bg: #ddd;
    --btn-bg: #53d6f7d0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: var(--text);
    background-color: var(--bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    font-size: 80px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #board {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    margin-top: 40px;
    border-radius: 6px;
    background: #e0e0e0;
    box-shadow:  20px 20px 40px #7b7b7b,
                -20px -20px 40px #ffffff;
  }
  
  .box {
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
  }
  
  #restart {
    padding: 10px 20px;
    background-color: var(--btn-bg);
    border: none;
    border-radius: 4px;
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
  }

  footer{
      background-color: var(--btn-bg);
      padding: 10px;
      /* width: 100%; */
  }

  .love{
      display: flex;
      width: fit-content;
      margin: auto;
  }

  .love a{
      text-decoration: none;
      color: var(--text);
      transition: 0.8s;
  }

  .love a:hover{
      opacity: 0.6;
  }